<div id="footer">
	<div class="element1 white bold">
		<p>Comp'O'Kaz</p>
	</div>

	<div class="element1 white sans-serif bold">
		<p><%= link_to 'Contact', club_contact_path %></p>
	</div>

	<div class="element1 white sans-serif bold">
		<p><%= link_to 'A propos', clients_about_path %></p>
	</div>

	<div class="element1 white sans-serif bold">
		<p>Site en cours de réalisation par Isabelle Lechat</p>
	</div>

		<div class="element1 white sans-serif bold">
		<p><%= image_tag("gummitch-space-r.jpg", size: "50x50", alt: "Cat for President!") %></p>
	</div>

</div>
