/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body{
	margin: 0;
	padding: 0;
}

#header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #003cb3;
	padding: 20px 20px 10px 20px;
	margin: 0;
	border-bottom: #FFFFFF solid 20px;
	height: 100px;
}
.header1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;

}
#footer{
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #003cb3;
	padding: 0px;
	margin: 0;
	height: 50px;
}
#image-titre{
	margin-top: 0;
	width: 100%;
	height: 200px;
	background-color: #CCCCCC;
	border-bottom: #FFFFFF solid 20px;
}
#carrousel{
	height: 250px;
	border: solid 2px #003cb3;
	border-radius: 10px;
	margin: 0 100px 20px 100px;
	padding: 20px;
}
#title-logo{
	font-size: 3em;
}
.element1{
	margin: 0 20px;
	line-height: 0px;
}
#main{
	margin: 0 20px;
}
.conteneur{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 350px;
	border-top: #003cb3 solid 2px;
}
.ss-conteneur-i{ /* i pour image */
	width: 50%;
}
.ss-conteneur-p{ /* p pour padding1 */
	width: 48.5%;
}
h1{
	font-family: sans-serif;
	color: #003cb3;
}
p{
	font-family: sans-serif;
}
a{
	color: #FFFFFF;
}
a:hover{
	color: #a3c2c2;
}

/*=== COLORS ===*/
.white{
	color: #FFFFFF;
}
.bg-blue{
	background-color: #003cb3;
}
.bg-blue1{
	background-color: #3377ff;
}
.bg-blue2{
	background-color: #80aaff;
}
.bg-white{
	background-color: #FFFFFF;
}
.bg-red{
	background-color: #ff0000;
}
.bg-yellow{
	background-color: #ffff00;
}
.bg-black{
	background-color: #000000;
}
.bg-lime{
	background-color: #00ff00;
}

/*=== FONTS ===*/
.sans-serif{
	font-family: sans-serif;

}
.fantasy{
	font-family: fantasy;
}
.bold{
	font-weight: bold;
}

/*=== ALIGNMENTS ===*/
.center{
	text-align: center;
}
.v-align{
	vertical-align: middle;
}
.padding1{
		padding: 20px 0px 20px 20px;
}
