<div id="header">
	<div class="element1 white bold">
		<p id="title-logo">US Villejuig Tir à l'Arc</p>
		<!-- logos -->
	</div>

	<div class="element1 white sans-serif bold">
		<p><%= link_to "S'inscrire", members_new_path %></p> <!-- à remplacer par new_member_registration_path quand ça sera fait -->
	</div>

	<div class="element1 white sans-serif bold">
		<p><%= link_to 'Se connecter', members_show_path %></p> <!-- à remplacer par new_member_session_path quand ça sera fait -->
	</div>

</div>