<%= render 'header' %>

<div id="main">
		<h1>A propos de l'US Villejuif</h1>
		<p class="bold">Historique</p>
		<p>Créé en 1980 par un petit groupe d'archers, </p>
		<p class="bold">Gymnase</p>
		<p>Ecole Robespierre</p>
		<p class="bold">Terrain extérieur</p>
		<p>Pas de tir Serge Barrois</p>
</div>

<%= render 'footer' %>
